/* mini pastes */
.paste{
  background:whitesmoke;
  border:1px solid #ccc;
  margin-bottom:10px;
  }
  .paste .meta{
    padding:5px 0;
    background:#e9e9e9;
    color:#666;
    border-bottom-color:#d9d9d9;
    }
    .paste .meta .title a{
      font-size:13px;
      font-weight:bold;
      color:#5685B8;
      }
    .paste .meta .timestamp{
      text-align:right;
      font-size:12px;
      }
    .paste .code{
      max-height:50px;
      overflow:hidden;
      margin:20px;
      }
      
.code_wrapper{
  background:whitesmoke;
  border:1px solid #ccc;
  margin-bottom:10px;
  }
  .code_wrapper .snippet-wrap{
    margin:10px;
    padding:10px;
    background:white;
    }
    .snippet-wrap .snippet-num{
      padding-left:10px !important;
      }
    